<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="{{ url_for('static', filename='img/about.png') }}" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6">About Us</h1>
                    <p class="text-primary fs-5 mb-4">Simplifying cryptocurrencies and blockchain</p>
                    <p>We work towards developing new solutions that make it easier to interact with cryptocurrencies and decentralized ecosystems.</p>
                    <p class="mb-4">Today in the crypto market, financial products are advancing faster than the platforms that provide solutions.</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span>We are up-to-date with the market</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span>The developed solutions focus on simplicity</span>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span>You can be a part of it</span>
                    </div>
                    <a href="service" class="btn btn-primary py-3 px-4" href="">Go to services</a>
                </div>
            </div>
        </div>
    </div>
</div>