<div style="background-color: #f1f8f5  ;" class="container-fluid hero-header py-3 mb-5">
    <div class="container py-2">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h1 class="display-5 mb-3 animated slideInDown">Crypto Solutions</h3>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb mb-0">
                        <p>Digital solutions to make your routine easier</p>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-6 animated fadeIn">
                <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" src="{{ url_for('static', filename='img/hero-2.png') }}"
                    alt="">
            </div>
        </div>
    </div>
</div>