<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    {% include 'static/head.html' %}
    
<body>
    <!-- Spinner -->
    {% include 'static/spinner.html' %}
    <!-- Navbar -->
    {% include 'static/navbar.html' %}
    <body>
        <div class="container">
            <h1 class="mt-5">Top 8 Trendings</h1>
            <p class="text-primary fs-5 mb-4">By coinkgecko search</p>
            <div class="container mt-5">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Symbol</th>
                            <th>Market Cap Rank</th>
                        </tr>
                    </thead>
                    <tbody id="data">
                    </tbody>
                </table>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $.getJSON("https://api.coingecko.com/api/v3/search/trending", function(data) {
                    $.each(data['coins'], function(key, val) {
                        var row = $("<tr>");
                        row.append('<img src ="'+val.item.small+'"></img>')
                        row.append($("<td>").text(val.item.name));
                        row.append($("<td>").text(val.item.symbol));
                        row.append($("<td>").text(val.item.market_cap_rank));
                        $("#data").append(row);
                    });
                });
            });
        </script>
    </body>
    <!-- Footer -->
    {% include 'static/footer.html' %}
    <!-- Back to Top -->
    {% include 'static/back-to-top.html' %}
    <!-- JavaScript Libraries -->
    {% include 'static/js-libs.html' %}
</body>
</html>
